/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Nov 2018, 10.28.22
    Author     : madsfalken
*/
#book:hover {
    -fx-scale-x: 1.25;
    -fx-scale-y: 1.25;
    -fx-effect: dropshadow(three-pass-box, #f9d77e, 10, 0, 0, 0);
}

#book {
    resize:inherit;
}

#root {
    -fx-background-image: url("../images/imgscare.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}